.HomePage {
    display: flex;
    flex-direction: column;
}

.cardGrid {
    display: flex;
    flex-direction: row;
}

.cardGrid .cardGrid-odd {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    box-sizing: border-box;
}

.cardGrid .cardGrid-even {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    box-sizing: border-box;
}

.BannerSlide {
    padding: 0.5rem;
    box-sizing: border-box;
}

.topSellContent {
    width: 100%;
    overflow-x: scroll;
}

.topSellContentScroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.topSellContentScroll>.CardProductItem {
    width: 50vw;
    margin-left: 0.5rem;
}