.HomePage {
    display: flex;
    flex-direction: column;
}

.cardGrid {
    display: flex;
    flex-direction: row;
}

.cardGrid .cardGrid-odd {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    box-sizing: border-box;
}

.cardGrid .cardGrid-even {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    box-sizing: border-box;
}

.BannerSlide {
    padding: 0.5rem;
    box-sizing: border-box;
}

.topSellContent {
    width: 100%;
    overflow-x: scroll;
}

.topSellContentScroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.topSellContentScroll>.CardProductItem {
    width: 50vw;
}

/* Comment */

.ProductDetailsComment {
    margin-bottom: 100px;
}

.ProductDetailsCommentGeneral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    font-size: 14px;
    color: #999;
}

.ProductDetailsCommentViewAll {
    color: var(--burntSienna-color);
}