/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

:root {
    --borderSmall: 3px;
    --borderMedium: 5px;
    --borderLarge: 7px;
    --charcoal-color: #264653;
    --persianGreen-color: #2A9D8F;
    --orangeYellowCrayola-color: #E9C46A;
    --sandyBrown-color: #F4A261;
    --burntSienna-color: #E76F51;
    --darkSkyBlue-color: #04161d;
    --almond-color: #FCE9D9;
    --white: white;
    --whitesmoke: whitesmoke;
}


/* ---------------------------------SellerUserInfo----------------------- */

.SellerUserInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: #F4A261;
}

.SellerUserInfo-info {
    display: flex;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.SellerUserInfo-info>i {
    margin-right: 1rem;
}

.SellerUserInfo-overview {
    display: flex;
    margin-top: 2rem;
}

.SellerUserInfo-product,
.SellerUserInfo-order {
    width: 50%;
}


/* -------------------------SellerTool--------------------- */

.SellerTool {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--almond-color);
    padding: 0.5rem 0.5rem;
}

.SellerTool>h3 {
    margin-bottom: 1rem;
}

.SellerToolContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.SellerToolIteam>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.SellerToolIteam nav {
    text-align: center;
}

.SellerToolIteam i {
    background-color: springgreen;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: var(--white);
}


/* -----------------------HomeTabbar */

.HomeTabbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: 1px solid var(--orangeYellowCrayola-color);
    align-items: center;
    font-size: 0.6rem;
    padding: 0.2rem 0;
    background-color: var(--white);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.HomeTabbar i {
    font-size: 1.5rem;
}

.HomeTabbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ------------Cart */

.CartDestination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px gray;
    padding-top: 8px;
}

.CartDestinationIcon {
    margin-left: 8px;
}

.CartDestinationIcon i {
    font-size: 32px;
}

.CartDestinationLocation {
    margin: 0 12px;
}

.CartDestinationChangeLocation {
    margin-right: 8px;
    color: var(--darkSkyBlue-color);
}

.CartProducts {
    margin-left: 8px;
    margin-top: 20px;
}

.CartDistributor span {
    margin-left: 12px;
}

.CartProductItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 8px 8px 0;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.CartProductItem:last-child {
    border-bottom: unset;
}

.CartProductImg img {
    width: 86.4px;
    height: 86.4px;
    margin: 0 8px;
}

.CartProductDetails {
    width: 100%;
    padding: 0 1rem;
}

.CartProductDescription {
    color: gray;
    margin: 4px 0;
}

.CartDistributor {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
}

.CartProductPriceAmount {
    display: flex;
    justify-content: space-between;
}

.CartProductPrice {
    color: var(--orangeYellowCrayola-color);
    font-weight: 600;
}

.CartProductAmount {
    display: flex;
    margin-right: 4px;
    align-items: center;
}

.CartProductCurrentAmount {
    padding: 0px 12px;
    background: rgb(248, 248, 248);
}

.CartProductChangeAmount {
    padding: 0 8px;
    font-size: 16px;
}

.CartVoucher {
    margin-bottom: 120px;
}

.CartVoucherForm {
    padding: 12px;
    margin-top: 12px;
    border-top: 1px solid #ddd;
    display: flex;
}

.CartVoucherForm input {
    border: 1px solid #ddd;
    border-radius: var(--borderSmall);
    padding: 0 8px;
    margin-right: 12px;
    height: 30px;
    flex: 1;
}

.CartVoucherForm button {
    background: var(--burntSienna-color);
    font-weight: bold;
    color: var(--white);
    padding: 4px 12px;
    border-radius: var(--borderSmall);
}

.CartPayment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 46px;
    left: 0;
    right: 0;
    padding: 8px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: var(--white);
}

.CartSelectAll {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.CartSelectAll label {
    margin-left: 8px;
}

.CartFeeWrap {
    display: flex;
    align-items: center;
}

.CartFeeShip {
    font-size: 12px;
}

.CartFreeTotal {
    font-size: 16px;
}

.CartPaymentBtn button {
    color: var(--white);
    font-weight: bold;
    padding: 8px 12px;
    background: var(--burntSienna-color);
    border-radius: var(--borderSmall);
    margin: 0 8px;
}