/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

:root {
    --borderSmall: 3px;
    --borderMedium: 5px;
    --borderLarge: 7px;
    --charcoal-color: #264653;
    --persianGreen-color: #2A9D8F;
    --orangeYellowCrayola-color: #E9C46A;
    --sandyBrown-color: #F4A261;
    --burntSienna-color: #E76F51;
    --darkSkyBlue-color: #04161d;
    --almond-color: #FCE9D9;
    --white: white;
    --whitesmoke: whitesmoke;
}


/* ---------------------------------SellerUserInfo----------------------- */

.SellerUserInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: #F4A261;
}

.SellerUserInfo-info {
    display: flex;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.SellerUserInfo-info>i {
    margin-right: 1rem;
}

.SellerUserInfo-overview {
    display: flex;
    margin-top: 2rem;
}

.SellerUserInfo-product,
.SellerUserInfo-order {
    width: 50%;
}


/* -------------------------SellerTool--------------------- */

.SellerTool {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--almond-color);
    padding: 0.5rem 0.5rem;
}

.SellerTool>h3 {
    margin-bottom: 1rem;
}

.SellerToolContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.SellerToolIteam {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.SellerToolIteam i {
    background-color: springgreen;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: var(--white);
}


/* -----------------------HomeTabbar */

.HomeTabbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: 1px solid var(--orangeYellowCrayola-color);
    align-items: center;
    font-size: 0.6rem;
    padding: 0.2rem 0;
    background-color: var(--white);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.HomeTabbar i {
    font-size: 1.5rem;
}

.HomeTabbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}